@page
@model SportStoreFreeman.Pages.CompletedModel
@{
}

<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за размещение заказа #@Model.OrderId</p>
    <p>Мы сявжемся с Вами в ближайшее время</p>
    <a class="btn btn-primary" asp-controller="Home">Вернуться в магазин</a>
</div>

